body {
    background-color: $turbine-a;
    color: $bulkhead;
    font-family: $font-sans;
    font-size: 20px;
    font-weight: 300;
}

h1, h2 {
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
}

article {
    @extend %center-column;
    h2 {
        color: $blaster;
        text-align: center;
    }
}

img {
    width: 100%;
    @media screen and (min-width: $break-lg) {
        border-radius: 10px;
    }
}

p {
    line-height: 1.4;
    padding-left: 1rem;
    padding-right: 1rem;
}

header {
    background-color: $blaster;
    margin-bottom: 4rem;
    section {
        background-image: url(../images/xwing-trench.jpg);
        background-size: cover;
        height: 50vw;
        h1 {
            color: $white-80;
            font-size: 14vw;
            font-style: italic;
            line-height: 1;
            margin-top: 0;
            padding-top: 12vw;
            text-align: center;
            text-transform: uppercase;
        }
    }
    sup a {
        color: $white-80;
    }
}

#lead {
    @extend %center-column;
    color: $white-80;
    max-width: 58rem;
    padding: 2rem;
    @media screen and (min-width: $break-sm) {
        padding: 4rem;
        text-align: center;
    }
}

.decoration {
    @extend %center-column;
    display: flex;
    font-size: 1em;
    justify-content: center;
    margin-bottom: 4rem;
    margin-top: 4rem;
    text-align: center;
    div {
        flex-basis: 3rem;
        a {
            color: $blaster-a;
            text-decoration: none;
            &:hover {
                color: $blue-squadron;
            }
        }
        &:nth-child(1) {
            transform: rotate(210deg);
        }
        &:nth-child(3), &:nth-child(5) {
            transform: rotate(35deg);
        }
    }
}

footer {
    background-color: $blue-squadron;
    color: $white-80;
    display: flex;
    flex-direction: column;
    font-size: .8em;
    justify-content: space-around;
    margin-top: 4rem;
    padding: 2rem 0;
    section {
        flex-basis: 20%;
        flex-grow: 1;
        padding: 1rem;
    }
    h2 {
        padding-left: 1rem;
    }
    a {
        background-color: $turbine;
        border-radius: 2px;
        color: $blaster;
        display: inline-block;
        margin-top: 1px;
        padding: 0 4px;
        text-decoration: none;
        &:hover {
            background-color: $white-80;
        }
    }
    @media screen and (min-width: $break-sm) {
        flex-direction: row;
        padding: 1rem 2rem;
    }
}

#about {
    flex-basis: 50%;
}

a {
    color: $blaster;
    &:hover {
        color: $blue-squadron;
    }
}

sup a {
    color: $blue-squadron;
    text-decoration: none;
    #about p & {
        color: $white-80;
    }
}

#further-reading li,
#footnotes li {
    padding-bottom: 1rem;
}

#further-reading li a {
    padding: 4px 8px;
}

#footnotes a {
    background: none;
    color: $turbine;
    margin-right: -4px;
    padding: none;
}
