// Colors
$blaster-a: hsla(12, 71%, 48%, 0.5);
$blaster: hsl(12, 71%, 48%);
$blue-squadron: hsl(208, 41%, 48%);
$bulkhead: hsl(332, 23%, 8%);
$trench: hsl(338, 10%, 35%);
$turbine: hsla(207, 49%, 87%, 0.8);
$turbine-a: hsla(211, 49%, 87%, 0.5);
$white-80: hsla(0, 0, 100%, 0.8);

// hsla(207, 49%, 87%, 1.0)

// Fonts
$font-sans: 'Fira Sans', sans-serif;

// Screen breaks
$break-sm: 600px;
$break-lg: 770px;
